<div class="row">
	<div class="col-md-11">

	
		<h1>All Messages for <%= @user.name %></h1><hr>

		<ul>
			<% @messages.each do |message| %>
			<a href='/messages/<%= message.id%>'><div class="taskDisplay">
				<%=  message.title %><br>
				From:
				<% if message.sender_id %>
				 	<%=  User.find(message.sender_id).name %>
				<% else %>
					system message
				<% end %>
			</div></a>
			<% end %>
			
		</ul>
	</div>
	<div class="col-md-1" style="border-left:1px solid rgba(0,0,0,0.2)">
		<a class="btn btn-primary htn-lg" href="/messages/new">Compose a Message</a>
	</div>
</div>

