<!DOCTYPE html>
<html>
<head>
	<title>Welcome Email for TaskApp</title>
</head>
<body>
	<h1>Welcome to TaskApp!, <%= @user.name %></h1>
	<p>Thanks for taking to time to sign up with us!</p>
	<p>Here at TaskApp we strive to help our users organize their personal calendars and their lives!</p>
	<p>Congrats on becoming a member of the TaskApp community!</p>

	<h4>Cheers!</h4>
	<p>The TaskApp Team</p>

</body>
</html>