
<meta name="viewport" content="initial-scale=1">
<body class="container background">


<!-- <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary btn-large button" autocomplete="off">
  Enter
</button> -->
<div class="row">
  <div class="col-xs-10 col-md-10 info-welcome">
  	<h1 class="welcome">Welcome to Taskit</h1>
		<h3 class="col-xs-8 col-md-8 info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar tempus lacinia. In pulvinar molestie.</h3>

 </div>
</div>


<a class="btn btn-primary btn-lg welcome-button" href="/login" role="button">Enter</a>



	
	
	
	

