@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);


body{
  margin: 0 10%;
}
.temp{
  color: #296ACC;
  font-size: 1em;
}
.weather{
  font-size: 1.5em;
}
td{
  padding: 10px;
}

.wtext{
  margin: 10px 0;
  color: #296ACC;
  text-align: center;
  vertical-align: middle;
}
.content{
  padding: 2% 2%;
}

h1,h2{
  font-family: 'Lobster Two', cursive;
  text-align: center;
  color: #666666;
}
p{
  font-family: 'Lobster Two', cursive;
  /*font-family: 'Shadows Into Light', cursive;*/
  font-size: 1.3em;
  color: #666666;
}

.task{
  font-size: 1em;
  color: #296ACC;
  padding-left: 2%; 
}
.tasktitle{
  text-align: center;
}

.col-md-2{
  padding-left: 0;
}
.btn{
  padding: 0;
}
#map-wrapper{
  width: auto;
  vertical-align: center;
}
.btn-primary{
  width: auto;
  padding: 5px;
}

/* new style*/
.right{
  float: right;
  margin: 10px;
}
.left{
  float: left;
  margin: 10px;
}
.taskshow{
  vertical-align: center;
}
.taskbutton, .modalbutton{
  color: white;
  width: 100px;
  padding: 5px;
  text-decoration: none;
  text-transform: bold;
}

#listDisplay{
  width: auto;
  height: 650px;
  overflow: scroll;
}

.taskDisplay{
  margin: 10px;

}
#imgattached{

  margin: 5% 20%;
}

footer{
  text-align: center;
  padding-top: 50px;
  bottom: 0;
  left: 0;
  position: relative;
}

